:root {
  --ta-celeste: #16a1dc;
  --ta-gris-fondos: #ebf1f2;
  --ta-gris-imagen: #ebebeb;
  --ta-celeste-fondos: #ebf7fe;
  --ta-negro-texto: #252b2d;
  --ta-gris-subtexto: #849899;
  --ta-socios: #ffbb0f;
  --ta-socios-fondos: #ffe7a9;
  --ta-espectaculos: #ce0d54;
  --ta-espectaculos-bg: #f9f2f6;
  --ta-cultura: #48b1a7;
  --ta-cultura-bg: #e0fbf9;
  --ta-deportes: #ee813c;
  --ta-deportes-bg: #fff3ec;
  --ta-ambiental: #5e852a;
  --ta-ambiental-bg: #f4f8ee;
  --ta-habitat: #ba5749;
  --ta-habitat-bg: #fff4f3;
  --ta-medios: #5d9dd6;
  --ta-medios-bg: #f3f9ff;
}
