:root {
  --ta-celeste: #16a1dc;
  --ta-gris-fondos: #ebf1f2;
  --ta-gris-imagen: #ebebeb;
  --ta-celeste-fondos: #ebf7fe;
  --ta-negro-texto: #252b2d;
  --ta-gris-subtexto: #849899;
  --ta-socios: #ffbb0f;
  --ta-socios-fondos: #ffe7a9;
  --ta-socios-fondos2: #fff4d8;
  --ta-espectaculos: #ce0d54;
  --ta-espectaculos-bg: #f9f2f6;
  --ta-cultura: #48b1a7;
  --ta-cultura-bg: #e0fbf9;
  --ta-deportes: #ee813c;
  --ta-deportes-bg: #fff3ec;
  --ta-ambiental: #5e852a;
  --ta-ambiental-bg: #f4f8ee;
  --ta-habitat: #ba5749;
  --ta-habitat-bg: #fff4f3;
  --ta-medios: #5d9dd6;
  --ta-medios-bg: #f3f9ff;
}

.sumate .title h3 {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.2px;
}
.sumate .sumate-opts .opt .title h4 {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -1px;
}
.sumate .sumate-opts .opt .subtitle p {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.2px;
}
.sumate .sumate-opts .opt .img-container img {
  max-width: 175px;
}
.sumate .sumate-opts .opt .btns-container button {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: var(--ta-socios);
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 176px;
}
.sumate .sumate-opts .opt .info {
  text-align: center;
}
.sumate .sumate-opts .opt .info small {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
}
.sumate .sumate-opts .opt.socio {
  border: 1px solid var(--ta-socios);
}
.sumate .sumate-opts .opt.socio .opt-border {
  border: 10px solid var(--ta-socios-fondos);
}
.sumate .sumate-opts .opt.socio .opt-bg {
  background-color: var(--ta-socios-fondos);
}
.sumate .sumate-opts .opt.donacion {
  border: 1px solid var(--ta-gris-subtexto);
}
.sumate .sumate-opts .opt.donacion .opt-border {
  border: 10px solid var(--ta-gris-fondos);
}
.sumate .sumate-opts .opt.donacion .opt-bg {
  background-color: var(--ta-gris-fondos);
}
.sumate .info p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
}
.sumate .info p span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
}
.sumate .info p a {
  background-color: var(--ta-socios-fondos);
  text-decoration: underline;
}
.sumate .content .title h3 {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -1px;
}
.sumate .content .subtitle p {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.2px;
}
.sumate .content .ver-mas button {
  color: var(--ta-gris-subtexto);
}
.sumate .content .ver-mas button img {
  margin-left: 5px;
  transform: rotate(180deg);
}
.sumate .content .ver-mas button:focus {
  border: none;
  outline: none;
}
.sumate .content .dropdown.vision-sumate p {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.sumate .content .dropdown.vision-sumate p span {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
}
.sumate .content .dropdown.vision-sumate p span a {
  color: var(--ta-celeste) !important;
  text-decoration: underline;
}
.sumate .content .dropdown p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.sumate .content .dropdown p span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
}
.sumate .content .dropdown p span.tiempo-color {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  color: var(--ta-celeste);
}
.sumate .content .dropdown p span.tiempo-color a {
  color: var(--ta-celeste) !important;
  text-decoration: underline;
}
.sumate .content .dropdown .article-preview {
  flex-basis: auto;
  width: 100%;
}
.sumate .content .dropdown .article-preview p {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.2px;
}
.sumate .content .dropdown .article-preview .article-info-container .author p {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.sumate .content .dropdown .eje .img-container {
  text-align: center;
}
.sumate .content .dropdown .eje .img-container img {
  max-width: 175px;
}
.sumate .content .dropdown .eje .title h3 {
  color: var(--ta-celeste);
  font-size: 20px;
  line-height: 112.3%;
  text-align: center;
  letter-spacing: -0.5px;
}
.sumate .content .dropdown .eje .subtitle {
  max-width: 90%;
  margin: 0 auto;
}
.sumate .content .dropdown .eje .subtitle p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.2px;
}
.sumate .open-source-sumate .opt-border {
  border: 1px solid var(--ta-celeste);
}
.sumate .open-source-sumate .opt-border .title h3 {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
  color: var(--ta-celeste);
  font-size: 27px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -1px;
}
.sumate .open-source-sumate .opt-border .subtitle p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
}
.sumate .open-source-sumate .opt-border .subtitle p span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
}

@media (min-width: 992px) {
  .sumate .title h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .sumate .sumate-opts .opt {
    flex: 1;
  }
  .sumate .sumate-opts .opt.donacion .opt-border {
    border: 23px solid var(--ta-gris-fondos);
  }
  .sumate .sumate-opts .opt.socio .opt-border {
    border: 23px solid var(--ta-socios-fondos);
  }
  .sumate .sumate-opts .opt .title {
    min-height: 90px;
    max-width: 350px;
    margin: 0 auto;
  }
  .sumate .sumate-opts .opt .title h4 {
    font-size: 39px;
    line-height: 45px;
    letter-spacing: -0.5px;
  }
  .sumate .sumate-opts .opt .img-container {
    min-height: 120px;
  }
  .sumate .sumate-opts .opt .img-container img {
    max-width: 235px;
    width: 100%;
  }
  .sumate .sumate-opts .opt .subtitle {
    max-width: 350px;
    margin: 0 auto;
  }
  .sumate .sumate-opts .opt .subtitle p {
    font-size: 26px;
    line-height: 32px;
  }
  .sumate .sumate-opts .opt .btns-container button {
    font-size: 19px;
    line-height: 25px;
    min-width: 230px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .sumate .sumate-opts .opt .info small {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-style: italic;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.1px;
  }
  .sumate .info {
    max-width: 500px;
    margin: 0 auto;
  }
  .sumate .info p {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.1px;
  }
  .sumate .content .title h3 {
    font-size: 39px;
    line-height: 45px;
    letter-spacing: -0.5px;
  }
  .sumate .content .subtitle p {
    font-size: 26px;
    line-height: 32px;
  }
  .sumate .content .dropdown.ntro-compromiso {
    max-width: 85%;
    margin: 0 auto;
  }
  .sumate .content .dropdown.vision-sumate p {
    font-size: 26px;
    line-height: 32px;
  }
  .sumate .content .dropdown p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }
  .sumate .content .dropdown .article-preview p {
    margin-top: 10px;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .sumate .content .dropdown .article-preview .article-info-container .author p {
    font-size: 16px;
    line-height: 20px;
  }
  .sumate .content .dropdown .eje .img-container img {
    max-width: 190px;
  }
  .sumate .content .dropdown .eje .title h3 {
    font-size: 30px;
    line-height: 112.3%;
    letter-spacing: -0.5px;
  }
  .sumate .content .dropdown .eje .subtitle p {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.1px;
  }
  .sumate .open-source-sumate {
    max-width: 85%;
    margin: 0 auto;
  }
  .sumate .open-source-sumate .opt-border .title h3 {
    font-size: 39px;
    line-height: 45px;
    letter-spacing: -0.5px;
  }
  .sumate .open-source-sumate .opt-border .subtitle p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }
}

/*# sourceMappingURL=sumate.css.map */
